/* */

.container {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
    border: 1px solid black;
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 550px;
    text-align: center;
}

.button {
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}

.button.eliminar {
    background-color: red;
}

.button.editar {
    background-color: skyblue
}